@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Poppins;
}
table,tr,th,td{
    padding: 10px;
    border: 2px solid black;
}
.data{
    animation: 0.5s ease-in-out 0s 1 slideOnLoad;
}
@keyframes slideOnLoad {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
